{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block styles %}
<link href="{% static 'site/css/forcepagescroll.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">It's not DnD-Spells.com</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Meet The Team</h2>
        <p class="lead">The Wonderful People Behind the Site (so far)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="{% static 'site/img/adrienlina.jpg' %}" alt="profile pic"></div>
        <p class="heavy text-center">Adrien Lina</p>
        <h2>Initiator</h2>
        <p>Full-stack Web Dev, loves to initiate new people to Web technoogies.</p>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock container %}
