{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}New spellbook{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}
<div class="no-scroll-content">
  <div class="container">
    <h1>
      {% if spellbook %}
        Rename <em>{{ spellbook.name }}</em>
      {% else %}
        New spellbook
      {% endif %}
    </h1>

    <form action="" method="post">
      {% csrf_token %}
      <table>
      {{ form }}
      </table>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock container %}
