{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}

<div class="container height-full">
  <div class="row">
    <h1>Spells <a href="{% url 'spellbook:spellbook-list' %}" class="btn btn-info pull-right">Save them in a spellbook!</a></h1>
  </div>

  <div class="overflow-y-scroll" style="max-height: calc(100% - 70px)">
    {% include "spellbook/widgets/spell_list.html" with spells=object_list %}
  </div>
</div>
{% endblock container %}
