{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Spellbooks{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link='spellbook_list' %}
{% endblock %}

{% block container %}
<div class="content">
  <div class="container">
    <h1>Spellbooks</h1>

    {% include "spellbook/widgets/spellbook_list.html" with spellbooks=object_list %}
    <div class="row">
      <a href="{% url 'spellbook:spellbook-new' %}" role="button" class="btn btn-info">Create a new spellbook</a>
    </div>
  </div>
</div>
{% endblock container %}
