{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load absolute_url %}
{% load spellbook_url %}

{% block title %}{{ block.super }}Spellbook detail{% endblock %}

{% block styles %}
<link href="{% static 'site/css/forcepagescroll.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with current_page_label='Spellbook detail' %}
{% endblock %}

{% block container %}
<div class="no-scroll-content">
  <div class="col-sm-12 height-full">
    <h3>Spellbook {{ spellbook.name }}: spells available</h3>
    <div class="small">
      Share link:
      <a href="{% absolute_url 'spellbook:spellbook-detail' spellbook.pk %}?token={{spellbook.token}}" target="_blank">
        {% absolute_url 'spellbook:spellbook-detail' spellbook.pk %}?token={{spellbook.token}}
      </a>
    </div>
    <a href="{% spellbook_url 'spellbook:spellbook-edit-spells' spellbook %}" type="button" class="btn btn-info">Edit spells</a>
    <a href="{% spellbook_url 'spellbook:spellbook-edit-slots' spellbook %}" type="button" class="btn btn-info">Edit slots</a>
    <a href="{% spellbook_url 'spellbook:spellbook-reset-slots' spellbook %}" type="button" class="btn btn-primary">Reset all slots</a>
    <div class="row">
      {% for spell_level, level in spells_by_level.items %}
        <div class="col-sm-3 spell-level-column">
          <div class="row">
            {% if spell_level == 0 %}
              <div class="col-xs-12">
                <h4 class="spellbook-detail__spell-level-title">Cantrips</h4>
              </div>
            {% else %}
              <div class="col-xs-4">
                <h4 class="spellbook-detail__spell-level-title">Level {{ spell_level }}</h4>
              </div>
              <div class="col-xs-8">
                <div class="well flex-container">
                    Slots:
                    <strong class="flex-center">
                      {{ level.slot.current_capacity |default:'0' }} / {{ level.slot.max_capacity |default:'0' }}
                    </strong>
                    {% if level.slot.current_capacity %}
                      <a href="{% spellbook_url 'spellbook:spellbook-use-slot' spellbook spell_level %}" title="Use slot">
                        <span class="glyphicon glyphicon-fire"></span>
                      </a>
                    {% else %}
                      <span title="No slots left">
                        <span class="glyphicon glyphicon-fire"></span>
                      </span>
                    {% endif %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{% spellbook_url 'spellbook:spellbook-reset-slots' spellbook spell_level %}" title="Reset these slots">
                      <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                  </div>
                </div>
            {% endif %}
          </div>
          <div class="row">
            {% for spell in level.spells %}
              <div class="col-sm-12 well">
                <h4>
                  {{ spell.name }} ({{ spell.level_as_dnd_format }})
                  {% if spell.is_prepared %}
                    <span class="pull-right glyphicon glyphicon-ok-circle" title="Spell prepared"></span>
                  {% endif %}
                </h4>
                <div class="row">
                  <div class="col-xs-6">
                    Type: {{ spell.cast_type }}
                  </div>
                  <div class="col-xs-6">
                    Range: {{ spell.spell_range }}
                  </div>
                </div>
                <p class="spell-description">{{ spell.description |safe }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock container %}
