{% comment %}
  This widget works with the html in 'spell_list_with_search.html'
  Possible variables:
  - actions: a list of templates to include in the table
  - spellbook: the spellbook being displayed, if any
{% endcomment %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  var options = {
    valueNames: [
      'name',
      'level',
      'dnd_level',
      'cast_type',
      'spell_range',
      'ritual-concentration',
      'duration',
      'description',
      'school',
      { name: 'pk', attr: 'value'},
      { name: '_pk', attr: 'data-pk'},
    ],
    item: `
    <tr>
      <td class="spell-onclick-detail">
        <strong class="name"></strong>
        <span class="_pk"></span>
      </td>
      <td class="spell-onclick-detail dnd_level"></td>
      <td class="spell-onclick-detail ritual-concentration"></td>
      <td class="spell-onclick-detail cast_type"></td>
      <td class="spell-onclick-detail duration"></td>
      <td class="spell-onclick-detail spell_range"></td>
      <td class="spell-onclick-detail school"></td>
      {% for action in actions %}
      <td>
        {% include action with spellbook=spellbook %}
      </td>
      {% endfor %}
    </tr>
    `.trim(),
  };

  {% if spellbook %}
    var url = "{% url 'spellbook:json-spell-list' spellbook.pk %}";
  {% else %}
    var url = "{% url 'spellbook:json-spell-list' %}";
  {% endif %}

  $.get(url, function(data) {
    var spells = data.map(function(spell) {
      spell.fields.pk = spell.pk;
      spell.fields._pk = spell.pk;

      spell.fields['ritual-concentration'] = '';
      if (spell.fields.ritual) {
        spell.fields['ritual-concentration'] += '<span class="glyphicon glyphicon-grain" title="Ritual"></span>';
      }
      if (spell.fields.concentration) {
        spell.fields['ritual-concentration'] += '<span class="glyphicon glyphicon-dashboard" title="Concentration"></span>';
      }

      if (spell.fields.level == 0) {
        spell.fields.dnd_level = 'Cantrip';
      } else if (spell.fields.level == 1) {
        spell.fields.dnd_level = '1st';
      } else if (spell.fields.level == 2) {
        spell.fields.dnd_level = '2nd';
      } else if (spell.fields.level == 3) {
        spell.fields.dnd_level = '3rd';
      } else {
        spell.fields.dnd_level = spell.fields.level + 'th';
      }

      return spell.fields;
    });
    var spellList = new List('spell-list', options, spells);

    $('.spell-onclick-detail').unbind().click(function(event) {
      var elem = $(this);
      var parent = $(elem[0].parentNode);
      var pk = parent.find('span._pk').attr('data-pk');
      window.open("/spells/" + pk, '_blank');
    });
  });
</script>
