{% comment %}
  Required variables:
  - spells (the list of Spell objects to display)
  Possible variables:
  - actions: a list of templates to include in the table
  - spellbook: the spellbook being displayed, if any
{% endcomment %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Spell Name</th>
      <th>Level</th>
      <th>Cast type</th>
      <th>Range</th>
      <th>Description</th>
      {% for action in actions %}
        <th></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="overflow-y-scroll">
    {% for spell in spells %}
    <tr>
      <td>{{ spell.name }}</td>
      <td>{{ spell.level }}</td>
      <td>{{ spell.cast_type }}</td>
      <td>{{ spell.spell_range }}</td>
      <td>
        <div class="spell-description">
          {{ spell.description |safe }}
        </div>
      </td>
      {% for action in actions %}
        <td>
          {% include action with spell=spell spellbook=spellbook %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
