{% comment %}
  This widget needs the scripts widget 'spell_list_with_search_scripts.html' to work
  Possible variables:
  - actions: a list of templates to include in the table (only )
{% endcomment %}

<div class="height-full" style="max-height: calc(100% - 10px)" id="spell-list">
  <div class="row">
    <div class="col-sm-3">
      <input class="search form-control" placeholder="Search" />
    </div>
    <button class="sort btn" data-sort="name"><span class="glyphicon glyphicon-arrow-up"></span> name</button>
    <button class="sort btn" data-sort="level"><span class="glyphicon glyphicon-arrow-up"></span> level</button>
    <button class="sort btn" data-sort="cast_type"><span class="glyphicon glyphicon-arrow-up"></span> cast type</button>
    <button class="sort btn" data-sort="duration"><span class="glyphicon glyphicon-arrow-up"></span> duration</button>
    <button class="sort btn" data-sort="spell_range"><span class="glyphicon glyphicon-arrow-up"></span> range</button>
    <button class="sort btn" data-sort="school"><span class="glyphicon glyphicon-arrow-up"></span> School</button>
  </div>
  <div class="overflow-y-scroll" style="max-height: calc(90% - 38px); margin-top: 10px;">
    <table class="table table-striped spell-table">
      <thead>
        <tr>
          <th>Spell Name</th>
          <th>Level</th>
          <th title="Ritual / Concentration">Rit. /<br />Conc.</th>
          <th>Cast type</th>
          <th>Duration</th>
          <th>Range</th>
          <th>School</th>
          {% for action in actions %}
            <th></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class="list">
        {% comment %}
          ListJS will insert the spells here. See http://listjs.com/ and
          'spell_list_with_search_scripts.html'
        {% endcomment %}
      </tbody>
    </table>
  </div>
</div>
