{% comment %}
  Required variables:
  - spellbook
  - spell
{% endcomment %}

{% load spellbook_url %}

{% if spell.level %}
  {% if spell.is_prepared %}
    <form method="POST" action="{% spellbook_url 'spellbook:spellbook-unprepare-spell' spellbook %}">
      {% csrf_token %}
      <input type="hidden" name="spell_pk" value={{ spell.pk }} />
      <button type="submit" class="btn btn-info" title="Unrepare spell">Unprep</button>
    </form>
  {% else %}
    <form method="POST" action="{% spellbook_url 'spellbook:spellbook-prepare-spell' spellbook %}">
      {% csrf_token %}
      <input type="hidden" name="spell_pk" value={{ spell.pk }} />
      <button type="submit" class="btn btn-info" title="Prepare spell">Prep</button>
    </form>
  {% endif %}
{% endif %}
